<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>welcome</title>
</head>
<body>
    <h1>Status:<%= data.state%></h1>
    <h2>Visitors:<%= data.visitors %></h2>
    <h2>Temperature: <%= data.temp%></h2>
</body>
</html>