<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>welcome</title>
</head>
<body>
    <h1>Status:<%= data.state%></h1>
    <h2>Visitors:<%= data.visitors %></h2>
    <h2>Temperature: <%= data.temp%></h2>

    <form action="" method="post" id="form">
        <% if (data.state=="off"){ var machine = "Turn On Machine"} else{machine="Turn off machine"}%>

    <button type="submit" onclick="route()" id="btn"><%= machine %></button>
    </form>

<script>
function route(){
 <% if (data.state=="off"){ %>
document.getElementById("form").setAttribute("action","/machineOn");
<% }else{ %>
    document.getElementById("form").setAttribute("action","/machineOff");
<% } %>

}
</script>



</body>
</html>